{% set logoClass = ' --white' %}
{% set switchLogoClass = 'white' %}

{# check for blog posts #}
{% if entry is defined %}
    {% if entry.section.handle == 'blogPost' %}
        {% set blogOverview = craft.entries.section('blogOverview').select('content.field_logoColor, entries.sectionId').one() %}
        {% if blogOverview|length %}
            {% set switchLogoClass = blogOverview.logoColor %}
        {% endif %}
    {% else %}
        {% set switchLogoClass = entry.logoColor.value ?? 'white' %}
    {% endif %}
{% endif %}

{# select color logo and itemt #}
{% switch switchLogoClass %}
    {% case 'white' %}
        {% set logoClass = ' --white' %}
    {% case 'black' %}
        {% set logoClass = ' --black' %}
    {% case 'pasterMint' %}
        {% set logoClass = ' --play' %}
    {% default %}
        {% set logoClass = ' --white' %}
{% endswitch %}


{% set headerItems = craft.entries.section('header').with(['internalLink']).all() %}
<header class="header{{ logoClass }}">
    <div class="container">
        <div class="header__inner">
            {% set logo = global.logo.one() %}
            <div class="header__logo">
                <a href="/">
                    {% if logo and logo.extension == 'svg' %}
                        {{ svg(logo) }}
                    {% endif %}
                </a>
            </div>
            <nav>
                <ul class="header__nav-list">
                    {% nav item in headerItems %}

                        {% set activeItem = '' %}
                        {% if item.type == 'item' %}
                            {% set activeItem =  (item.internalLink|length and item.internalLink.0.id == entry.id) ? ' active-item' %}
                        {% endif %}

                        <li class="header__nav-list-link{{ item.level > 1 ? ' children' }}{{ activeItem }}">
                            {% if item.type == 'header' %}
                                {{ item.title }}
                            {% else %}
                                {% set internalLink = item.internalLink.0 %}
                                {% set link = internalLink|length ? internalLink.getUrl() : item.externalLink %}
                                <a class="{{ item.level > 1 ? 'children-link' }} links" href="{{ link }}" target="{{ item.openInANewTab ? '_blank' }}">{{ item.title }}</a>
                            {% endif %}

                            {% ifchildren %}
                                <ul class="header__dropdown">
                                    {% children %}
                                </ul>
                            {% endifchildren %}
                        </li>
                    {% endnav %}
                </ul>
            </nav>
            <div class="header__btn">
                <a class="btn" href="/login">Login</a>

                {% set headerLink = global.internalLink.select('elements_sites.uri, content.title, entries.sectionId').one() %}

                {% if headerLink|length and global.header|length %}
                    <a class="btn-white" href="{{ headerLink.getUrl() }}">{{ global.header }}</a>
                {% endif %}
            </div>
            <div class="header__burger">
                <div class="line">
                    <span></span>
                    <span></span>
                </div>
                <div class="header__burger-nav">
                    <div class="header__burger-logo">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 31.2696H9.38113V25.0148H25.015L31.2698 18.7621V15.6337H9.38113L0 25.0148V31.2696Z" fill="#2D343F"/>
                            <path d="M25.015 9.38113L31.2698 3.12635V0H9.38113L0 9.38113V15.6338H9.38113V9.38113H25.015Z" fill="#2D343F"/>
                        </svg>

                        <img class="close-burger" src="/assets/img/cancel.svg" alt="close">
                        <img class="first-step" src="/assets/img/arrow-right.svg" alt="first">

                    </div>
                    <ul class="header__mob-list">
                        {% nav item in headerItems %}
                            {% set activeItem = '' %}
                            {% if item.type == 'item' %}
                                {% set activeItem =  (item.internalLink|length and item.internalLink.0.id == entry.id) ? ' active-item' %}
                            {% endif %}

                            <li class="header__mob-list-link{{ item.level > 1 ? ' children' }}{{ activeItem }}">
                                {% if item.type == 'header' %}
                                    <span>{{ item.title }}</span>
                                {% else %}
                                    {% set internalLink = item.internalLink.0 %}
                                    {% set link = internalLink|length ? internalLink.getUrl() : item.externalLink %}
                                    <a href="{{ link }}" target="{{ item.openInANewTab ? '_blank' }}">{{ item.title }}</a>
                                {% endif %}

                                {% ifchildren %}
                                    <svg width="19" height="32" viewBox="0 0 19 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 30L16 16L2 2" stroke="#2D343F" stroke-width="4"/>
                                    </svg>

                                    <ul class="header__dropdown-burger">
                                        {% children %}
                                    </ul>
                                {% endifchildren %}
                            </li>
                        {% endnav %}
                    </ul>
                </div>
            </div>
        </div>
</div>
</header>